img{
    width: 50px;
    height: 50px;
    margin-top: 4px;
}

a:link, a:visited {
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#left-nav ul {
    display: inline-flex;
}
#right-nav img{
    width:50px;
    height:50px;
    margin-top: 4px;
}
.center {
    margin: auto;
    border: none;
    margin-bottom: 0;
}

.nav {
    padding-left: 0;
}

.navbar{
    background: #7c0f0e;
    color: white;
    min-height: 60px;
}

.navbar-header{
    position: absolute;
    height: 50px;
    width: 100%;
}

.navbar-nav {
    margin: 0px 0px;
}

.navbar-default .navbar-title {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding-left: 0;
    display: inline-block;
    margin-top: 15px;
}

.form-inline {
    margin-top: -20px;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    margin: auto;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    /*display: inline-block;*/
    margin: auto;
    margin-top: 15px;
}

.navbar-toogle:focus {
    background-color: #4CAF50;
}

#left-nav .nav>li{
    position: static;
    display: flex;
    margin-left: 10px
}

/*search field*/
.search {
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: auto;*/
}

.glyphicon{
    display: inline-block;    
}

.navbar-toggle{
    margin-top: 12px;
    padding: 5px 10px;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.form-inline .form-control {
    margin-top: 15px;
    vertical-align: middle;
}

/*Login button style*/
.button {
    background: #4CAF50; 
    border: 2px solid #4CAF50; /* Green */
    border-radius: 3px;
    color: #fff;
    margin-top: 16px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;   
    
}

.login_button {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

/*Login button hover style*/
.navbar-default .navbar-nav>li>a:hover{
    color: #FFF;
    background: #4CAF50;

}
.form-control {
    margin-top: 15px;
    vertical-align: middle;
    display: inline-block;
}

.has-success .form-control-feedback {
    color: #3c763d;
    display: inline-block;
    margin-top: 14px;
}

span.glyphicon-menu-hamburger {
    font-size: 1.5em;
}

@media (max-width: 991px){
    .navbar-default .navbar-title {
        margin-bottom: 10px;
    }
    .search {
        margin-top: 10px;
    }

    .navbar-default .navbar-nav>li>a {
        margin-top: 24px;
    }
}

@media (max-width: 378px){
    .navbar-default .navbar-title {
        font-size: 18px;
    }

}