textarea {
	width: 100%;
	background: transparent;
	border: none;
}

#header{
	position: absolute;
}

.content{
	position: absolute;
	top: 50px;
	width: 750px;
	height: 100%;
	padding-bottom: 20px;
	margin-bottom: 50px;
	
}

.content .form-control{
	margin-top: 0px; 

}

/*.container{
	width: 100%;
}*/

.form_panel{
	width: 800px;
	margin: auto;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-bottom: 55px;
}

#basic_info{
	min-height: 420px;
}

#event_equipments, #event_schedule{
	padding-bottom: 20px;
	overflow: auto;
	min-height: 200px;
}

.form_panel_header{
	margin: auto;
    margin-top:-10px;
    padding-left: 5px;
    padding-right: 5px;   
    z-index: 999;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
    background: #7c0f0e;
}

.form_panel_title{
	padding-left: 15px;
	padding-top: 10px;
	color: #FFF;
	font-size: 25px;
	margin: auto;
}

#form-final-button{

	width: 930px;
	margin-top: -30px;
	border: none;
}

.block input {
	border: 0px;
	pointer-events: none;
}

.block .glyphicon {
	float: right;
	margin-top: 4px;
}

.block {
	margin: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.40);
}

/***********SCHEDULE DIV***********/
/*#schedule{
	background: red;
	border: 5px solid black;
}*/
#schedule .btn, #add_equipments .btn{
	margin-top:  45px;
	margin-bottom: -85px;
	width: 100%;
}

#schedule a {
	text-align: center;
}
/***********SCHEDULE DIV***********/

label{
	margin-top: 20px;
}

.main{
	width: 850px;
	/*margin-bottom: 50px;*/
	margin-left: auto;
	margin-right: auto;
}

.add-date-btn label {
	width: 100%;
}

.form-group.required .control-label:after {
	content:"*";
  	color:red;
}

.btn-default{
	/*margin-bottom: 50px;*/
	background-color: #ccc;

}

#form-header{
	position: relative;
	top: 35px;
	padding-bottom: 20px;
}

#equi_box{
	width: 100px;
}
#equipments{
	width: 150px;
}

/*#submit_btn .submit-btn{
	margin-top: 35px;
	background: #4CAF50;
	color: #FFF;
}*/

.btn-default{
	background: none;
}

.submit-btn {
	background: #4CAF50;
	color: #FFF;
	margin-top: 35px;
}

@media (max-width: 991px){
	#schedule .btn {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

.alert{
	position: fixed;
	top: 60px;
	z-index: 999;
	width: 100%;
}

#request-form-notif{
	display: none;
}
img {
    width:50px;
    height:50px;
    margin-top: 4px;
}


#part1{
	width: 250px;
	margin-right: 20px;
	float: right;
}

 #form-final-button{
 	width: 300px;
 }

 #requestform{
 	position: relative;
 	top: 50px;
 	width: 850px;
 	/*border: 1px solid #d3d3d3;*/
 	overflow: auto;
 }

.form_panel #request_form {
 	width: auto;
 }

 #part3{
 	width: 100%;
 	/*margin-bottom: -130px;*/
 }

#submit_btn input {
	margin-left: 530px;
}
