textarea {
	width: 100%;
	background: transparent;
	border: none;
}

label{
	margin-top: 20px;
}

#added_date, #equipments  {
	width: 97%;
}

#event_equipments, #event_schedule{
	padding-bottom: 20px;
	overflow: auto;
	min-height: 200px;
}

#form-final-button{
	width: 300px;
	margin-top: -30px;
	border: none;
}

.btn-margin-bottom {
	margin: auto;
	margin-bottom: 20px;;
}


#form-header{
	position: relative;
	top: 35px;
	padding-bottom: 20px;
}

#equi_box{
	width: 100px;
}

#header{
	position: absolute;
}

#requestform{
 	position: relative;
 	top: 50px;
}

#request-form-notif{
	display: none;
}



/***********SCHEDULE DIV***********/

#schedule .btn, #add_equipments .btn{
	margin-top:  45px;
	margin-bottom: -85px;
	width: 100%;
}

#schedule a {
	text-align: center;
}



.form_panel_header{
	margin: auto;
    margin-top:-10px;
    padding-left: 5px;
    padding-right: 5px;   
    z-index: 999;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
    background: #7c0f0e;
}

.form_panel_title{
	padding-left: 15px;
	padding-top: 10px;
	color: #FFF;
	font-size: 25px;
	margin: auto;
}


/** OVERRIDES **/

.submit_btn .btn-default:hover, .submit_btn .btn-default:active, .submit_btn .btn-default:focus {
	background: #4CAF50;
	color: #fff;
}


.submit_btn #part1 {
	margin-right: 20px;
	width: 30%;
	float: right;
}

.sub-btn a:hover, .sub-btn a:active {
	background: #ccc;
	color: #333;
	border: 1px solid transparent;
}



/** CLASSES **/
.alert{
	position: fixed;
	top: 60px;
	z-index: 999;
	width: 100%;
}

.btn-default{
	background: none;
}

.content{
	position: absolute;
	top: 50px;
	/*width: 750px;*/
	height: 100%;
	padding-bottom: 20px;
	margin-bottom: 50px;	
}

.content .form-control{
	margin-top: 0px; 

}

.form_panel{
	margin: auto;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-bottom: 55px;
	min-height: 420px;
}

.block input {
	border: 0px;
	pointer-events: none;
}

.block .glyphicon {
	float: right;
	margin-top: 4px;
}

.block {
	margin: 5px 15px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.40);
}


.main{
	width: 850px;
	/*margin-bottom: 50px;*/
	margin-left: auto;
	margin-right: auto;
}

.add-date-btn label {
	width: 100%;
}

.form-group.required .control-label:after {
	content:"*";
  	color:red;
}

.btn-default{
	/*margin-bottom: 50px;*/
	background-color: #ccc;

}



.submit-btn {
	background: #4CAF50;
	color: #FFF;
	margin-top: 35px;
	margin-bottom: 50px;
}

.form_panel #request_form {
 	width: auto;
 }


/** MEDIA **/

@media (max-width: 991px){
	#added_date, #equipments {
		width: 100%;
	}
	#schedule .btn, #add_equipments .btn {
		margin-top: 5px;
		margin-bottom: 20px;
	}

	.form_panel #request_form {
		height: 750px;
	}
}

@media (max-width: 716px){
	#added_date .block .glyphicon{
		margin-top: -10px;
	}

}

@media (max-width: 509px){
	#added_date .block .glyphicon{
		margin-top: -20px;
	}

	#equipments .block .glyphicon {
		margin-top: -4px;
	}

}

