#requester-view {
	margin-top: 150px;
}

/* OVERRIDES*/

#requester-view .panel-body{
	padding: 0px;
}

#requester-view .table {
	margin-bottom: 0px;
}

/* CLASSES */

.request-status td{
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
}

.rf{
	border-right: 1px solid #ddd;
}



/*
*************************************************************
	* MY REQUEST
*************************************************************
*/

#my_requests_list{
	position: relative;
	top: 100px;
	width: 800px;
	margin: auto;
}

#my_request_header{
	position: relative;
	top: 10px;
}
