{% extends 'base.html' %}
{% block content %}

<div id="cashier-view">
	<h2>Basic Info</h2>
	<label for="">Name</label> *insert name here*
	<br>
	<label for="">Organization</label> *insert org name here*
	<br>
	<label for="">Event</label> *insert event here*
	<br>
	<h2>Expenses</h2>
	<h3>Venue</h3>
	<table>
		<thead>
			<th>Name</th>
			<th>Rate</th>
			<th>Unit/s Rented</th>
			<th>Total</th>
		</thead>
		<tbody>
				<td>name here</td>
				<td>rate here</td>
				<td>hours render</td>
				<td>total</td>

		</tbody>
	</table>
	<h3>Equipments</h3>
	<table>
		<thead>
			<th>Name</th>
			<th>Rate</th>
			<th>Unit/s Rented</th>
			<th>Total</th>
		</thead>
		<tbody>
				<td>name here</td>
				<td>rate here</td>
				<td>hours render</td>
				<td>total</td>

		</tbody>
	</table>
	
	<label for="">Total</label> *insert total here*
	<br>
	<input type="submit" class="btn submit-btn">
</div>



{% endblock %}