{% extends 'base.html' %}
{% block content %}

<div class="index-wrapper">
	<div class="container">
		<div class="col-sm-8">
			<div id="calendar" class="fc-unthemed"></div>
			<!-- #calendar -->
			<div class="panel panel-default hidden-xs">
				<div class="panel-heading">
					<h4>GUIDELINE</h4>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="panel-group side-panel">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>NOTICE</h4>
					</div>
					<div class="panel-body">
						<p class="panel-notice">Sembreak will start on December 20</p>
					</div>
					<div class="nav navbar-default sidebar">
						<ul class="nav">
							<li><a href="{% url 'requestform' %}">REQUEST FORM</a></li>
							<li><a href="{% url 'requester' %}">VIEW STATUS</a></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>EVENTS</h4>
					</div>
					<ul class="list-group">
						{% for event in events %}
						<li class="list-group-item">
							<span class="event-name">{{event.purpose}}</span><br>
							<span class="event-details">Organizer: {{event.organization}}</span><br>
							<span class="event-details">Where: {{event.venue_id}}</span>
						</li>
						{% endfor %}
						
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>FAQ</h4>
					</div>
				</div>
			</div>
			<!-- .side-panel -->
		</div>	
	</div>
	<!-- .container -->
	
</div>
<!-- .index-wrapper -->

<script type="text/javascript">
	$( document ).ready(function() {
	var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();

    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    }

	$('#calendar').fullCalendar({
      header: {
        left: 'month,agendaWeek,agendaDay,listMonth',
        center: 'title',
        right: 'prev,next today'
      },
      defaultDate: mm+'/'+dd+'/'+yyyy,
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,

      events: [
          // {
          //    title: getEventTitle()[0],
          //    start: '2016-12-03T13:00:00',
          // },

        {% for date in dates %}
         {
          title: '{{ date.request_id.purpose }}',
          start: '{{ date.date_needed }}',
          venue: '{{ date.request_id.venue_id }}',
          organization: '{{ date.request_id.organization }}',
        }, 
        {% endfor %}
      ],

      eventRender: function(event, element) {
        element.attr("venue", event.venue),
        element.attr("organization", event.organization)
    }


    });
    
  });
</script>

{% endblock %}