{% extends 'base.html' %}
{% block content %}

<div class="index-wrapper">
	<div class="container">
		<div class="col-sm-8">
			<div id="calendar" class="fc-unthemed"></div>
			<!-- #calendar -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">GUIDELINES</h4> 
				</div>
				<div class="panel-body">
					<p>1. For use of classrooms for the sole purpose of holding meeting of UP student organization from 8:00am-5:30pm, <b>approval will be at the OSA level only</b>. Announcements can also be apporved right away by OSA (particularly in charge for student organizations) for posting upon coordination</p>
					<p>2. Reservation have to be field at least three (3) days in advance for UP approved activiteis and the least one (1) week for Non-UP activities. In any  case Nuit-wide activities will supersede any prior reservation.</p>
					<p>3. Reservations with CDMO can be made in advance, but it can only be considered a valid reservation if activity has been approved and form has been accomplished.</p>
					<p>4. A maximum of one (1) week is the allowable period for reservations of Conference Hall/AVR subject to renewal if activity is beyond one(1) week. Long term reservations are not allowed.</p>
					<p>5. Reservation is on a <b>first come first served basis</b>. (In case of conflict, the one who filed late has to request for reconsideration from the one who filed earlier.)</p>
					<p>6. Activities beyond 5:30PM on weekdays and Saturdays, Sundays and Holidays are subject to the approval of the Chancellor.</p>
					<p>7. Activities which will disturb classes and offices shall not be allowed.</p>
					<p>8. Eating and drinking inside the Conferense Hall/AVR are strictly prohibited.</p>
					<p>9. The Conference Hall/AVR can not be used for any activity involving children.</p>
					<p>10. Officers and the sponsoring organization shall be held responsible for any damages or loss of property, noted during and immediately after the activity.</p>
					<p>11. For income generating activities, the sponsoring organization shall pay for the use of aircon, electricity, among others (consult the Accounting Office for computation of rates or see rates page)</p>
					<p>12. Honoraria/overtime for the technician, utility personnel rendering services after office hours will be paid by the sponsoring organization/officers.</p>
					<p>13. <b>For Arts and Science/Undergraduate Lobbies:</b></p>
					<p>- The from should be routed first to: (1) PE teachers, (2) Room USe Committee Chair and (3) Office of Students Affairs for the purpose of coordinating activities so as not ro disrupt classes in the Arts & Sciences and the Undergraduate buildings.</p>
					<p>14. <b>For multimedia projector (MMP)/LCD rental charges:</b></p>
					<p>- The actual nubmer of hours will be noted in #12 of the form by ARV/CH In-charge for billing at the Cahsier's office after the activity. Upon payment, the organizer shall present the official receipt to the AVR/CH In-charge for clearance.</p>
					<p><em>Note: Public renters/Outisde organizations partnered with a UP-based organization shall post a P5,000.00 bond for the use of Performing Arts Hall and AVR1 (library building), to be paid at the cashier (for deposit to a trust fund) upon approval of the permit to use to answer for the damages/losses of the rented hall/room. After the activity, RENTER submits a request for return of the bond to the ADA with supporting documents: clearance from CDMO and official receipt of the posted bond.</em></p>
				</div>
				<!-- .panel-body -->
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel-group side-panel">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>NOTICE</h4>
					</div>
					<div class="panel-body">
						<p class="panel-notice">No public notice</p>
					</div>
					<div class="nav navbar-default sidebar">
						<ul class="nav">
							<li><a href="{% url 'requestform' %}">REQUEST FORM</a></li>
							{% if user.is_authenticated %}
								{%	if user.get_username != "osa_maria" and user.get_username != "cdmo_juan" and user.get_username != "ada_adelfa"%}
								<li><a href="{% url 'requester' %}">VIEW STATUS</a></li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>EVENTS</h4>
					</div>
					<ul class="list-group">
						{% for event in events %}
						<li class="list-group-item">
							<span class="event-name">{{event.purpose}}</span><br>
							<span class="event-details">Organizer: {{event.organization}}</span><br>
							<span class="event-details">Where: {{event.venue_id}}</span>
						</li>
						{% endfor %}
						
					</ul>
				</div>
				<!-- <div class="panel panel-default">
					<div class="panel-heading">
						<h4>FAQ</h4>
					</div>
				</div> -->
			</div>
			<!-- .side-panel -->
		</div>	
	</div>
	<!-- .container -->
</div>
<!-- .index-wrapper -->

<script type="text/javascript">
	$( document ).ready(function() {
	var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();

    if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    }

	$('#calendar').fullCalendar({
      header: {
        left: 'month,agendaWeek,agendaDay,listMonth',
        center: 'title',
        right: 'prev,next today'
      },
      defaultDate: mm+'/'+dd+'/'+yyyy,
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,

      events: [
          // {
          //    title: getEventTitle()[0],
          //    start: '2016-12-03T13:00:00',
          // },

        {% for date in dates %}
         {
          title: '{{ date.request_id.purpose }}',
          start: '{{ date.date_needed }}',
        }, 
        {% endfor %}
      ]
    });
    
  });
</script>

{% endblock %}