{% extends 'base.html' %}
{% block content %}

<div id="my_requests_list">
	<div class="request_list_header">
		<div class="request_list_header_title text-center">
			<h2>My Requests</h2>
		</div>
	</div>
	<div id="my_requests">
		<table class="table">
			<thead class="highlight">
				<th class="text-center">Tracking #</th>
				<th class="text-center">Purpose</th>
			</thead>

			<tbody>
				<th><a href="#">001</a></th>
				<th>Party</th>
			</tbody>
		</table>
		
	</div>
	
</div>


{% endblock %}