{% extends 'base.html' %}
{% block content %}

<div id="my_requests_list">
	<div class="my_request_header">
		<div class="my_request_header_title text-center">
			<h2>My Requests</h2>
		</div>

		<div id="my_requests">
			<table class="table">
				<thead>
					<th>Tracking #</th>
					<th>Purpose</th>
				</thead>
				<tbody>
					{% for request in requests %}
					<tr>	
						<td><a href="{% url 'requester' %}?q={{ request.pk }}">{{ request.pk }}</a></td>
						<td>{{request.purpose}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
	</div>
	
</div>

{% endblock %}