{% extends 'base.html' %}
{% block content %}

<div id="container">
	<div id="requester-view">
		<table>
			<thead>
				<th class="text-center">No.</th>
				<th class="text-center">PURPOSE</th>
				<th class="text-center">OSA</th>
				<th class="text-center">CASHIER</th>
				<th class="text-center">ADA</th>
				<th class="text-center">CDMO</th>
			</thead>

			<tbody>
				<tr>
			     	<td class="col-md-1 text-center">A</th>
			     	<td class="col-md-1 text-center">B</th>
			     	<td class="col-md-1 text-center">C</td>
			    	<td class="col-md-1 text-center">D</td>
			      	<td class="col-md-1 text-center">E</td>
			      	<td class="col-md-1 text-center">F</td>
			    </tr>
			    <tr>
			    	
			    </tr>
			</tbody>
		</table>	
	</div>
</div>


{% endblock %}