{% extends 'base.html' %}
{% block content %}


	<div id="cashier" class="container" style="max-width: 1000px;">
	
	<div class="col-md-12 col-lg-12 col-sm-12">
		<div id="card">
		<h2>Your request for has been successfully submitted.</h2>
		<h4>REQUEST FORM TRACKING NUMBER: {{ pk }}</h4>
	</div>
		<div id="expenses" class="panel">
			<div class="panel_header">
				<div class="panel_title">
					Expenses
				</div>
			</div>
			<div class="panel_body">
				<div class="table-responsive">
					<tr>
						<td colspan=1><h4>Venue</h4></td>
					</tr>
					<table class="table" style="min-height:50px;">
						<tbody>
							<tr>
								<td><center><strong>Name</td>
								<td><center><strong>Rate</td>
							</tr>
							<tr>
								
								<td><center>{{ request.venue_id }}</td>
								<td><center>{{ request.venue_id.price_general }}</td>
							</tr>
						</tbody>
					</table>
					<h4>Equipment</h4>
					<table class="table">
						<tbody>
							<tr>
								<td><center><strong>Name</td>
								<td><center><strong>Rate</td>
								<td><center><strong>Unit</td>
								<td><center><strong>Hours</td>
								<td><center><strong>Total</td>
							</tr>
							{% for equipment in equipment_list %}
							<tr>
								<td><center>{{ equipment.equipment_id }}</td>
								<td><center>{{ equipment.equipment_id.price }}</td>
								<td><center>{{ equipment.unit }}</td>
								<td><center>{{ hours }}</td>
								{%  widthratio equipment.equipment_id.price 1 equipment.unit as subtotal %}
								{% widthratio hours 1 subtotal as subtotal %}
								<td><center>{{ subtotal }}</td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
					<div id="total" class="col-md-4">
						<p><strong>Total: <u>Php {{ total }}</u></p>
					</div>
					<!-- total -->
				</div>
			</div>
		</div>
		<!-- #expenses -->
	</div>
	</div>




{% endblock %}